@page
@model IndexModel
@{
    ViewData["Title"] = "Rally";
}
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var app = angular.module("ng-rally", []);
        app.controller("getSpecials", function($scope) {
            $scope.specials = @Html.Raw(ViewData["Specials"].ToString());
            //$scope.racers = @Html.Raw(Model.Racers);
        });
    </script>

</head>
<body class="bg-cover flex justify-center" style="background-image: url('/img/background.jpg');">
    <header class="my-10">
        <h1 class="text-gray-100 font-extrabold text-5xl text-uppercase">Rally Point</h1>
        <sub class="text-gray-100 text-2xl font-extralight">insert cool oneliner here</sub>
    </header>
    <main class="flex flex-row gap-8 justify-left">
        <article class=" bg-gray-100 py-4 px-10 rounded-xl w-1/3 border-4 border-blue-600 flex-row">
            <header class="flex flex-row justify-between">
                <h2 class="text-blue-500 text-3xl font-bold mb-4">First, let's see the bigger picture</h2>
                <p>
                <p class="bg-blue-600 mb-16 mt-1 rounded-full px-2 pb-1 text-blue-600">1</p>
                </p>
            </header>
            <form action="">
                <section class="flex flex-col gap-4 mb-2">
                    <section class="flex flex-col gap-2 mb-2">
                        <label class="text-gray-900 font-medium text-2xl" for="">Number of rally</label>
                        <input
                            class="p-2 w-56 border-2 placeholder-blue-400 border-blue-600 rounded-md py-1.5 px-2 ring-1 ring-inset focus:text-blue-600 focus:outline-none"
                            type="number" name="" id="" placeholder="in number">
                        <sub class="text-md text-blue-600">Set the number of rally here</sub>
                    </section>
                    <section class="flex flex-col gap-2 mb-2" ng-app="ng-rally" ng-controller="getSpecials">
                        <label class="text-gray-900 font-medium text-2xl" for="">Specials</label>
                        <section class="flex flex-wrap gap-2">
                            <span class="flex flex-row gap-2 bg-blue-600 p-3 rounded-md hover:bg-blue-700">
                                <input type="checkbox" name="" id="" required>
                                <label class="text-gray-100" for="">{{ specials[0] }}</label>
                            </span>
                            <span class="flex flex-row gap-2 bg-blue-600 p-3 rounded-md hover:bg-blue-700">
                                <input type="checkbox" name="" id="" required>
                                <label class="text-gray-100" for="">{{ specials[1] }}</label>
                            </span>
                            <span class="flex flex-row gap-2 bg-blue-600 p-3 rounded-md hover:bg-blue-700">
                                <input type="checkbox" name="" id="" required>
                                <label class="text-gray-100" for="">{{ specials[2] }}</label>
                            </span>
                        </section>
                        <sub class="text-md text-blue-600">check at least 1 specials</sub>
                    </section>
                    <section class="flex flex-col gap-2 mb-2">
                        <label class="text-gray-900 font-medium text-2xl" for="">Number of racers</label>
                        <input
                            class="p-2 w-56 border-2 placeholder-blue-400 border-blue-600 rounded-md py-1.5 px-2 ring-1 ring-inset focus:text-blue-600 focus:outline-none"
                            type="number" name="" id="" placeholder="in number">
                        <sub class="text-md text-blue-600">number of racer cannot exceed what's in the database</sub>
                    </section>
                </section>
                <section class="mt-6 mb-4 text-center">
                    <input
                        class="py-3 w-full text-white text-uppercase text-3xl font-bold bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 hover:from-purple-500 hover:via-pink-500 hover:to-red-500 rounded-lg shadow-lg"
                        type="submit" value="next">
                </section>
            </form>
        </article>
         <article class=" bg-gray-100 py-4 px-10 rounded-xl w-1/3 border-4 border-blue-600 flex-row">
            <header class="flex flex-row justify-between">
                <h2 class="text-blue-500 text-3xl font-bold mb-4">Now, let's go into details</h2>
                <p>
                <p class="bg-blue-600 mb-16 mt-1 rounded-full px-2 pb-1 text-blue-600">1</p>
                </p>
            </header>
            <h1 class="text-gray-900 font-medium text-3xl pb-4 mb-4 border-b-2 border-blue-400" for="time-input">Racer 1</h1>
            <form action="">
                <section class="rounded-lg bg-gray-400 mb-4">
                    <section class=" flex justify-between p-1">
                        <span class="rounded-md bg-blue-600 m-1 w-full py-3 text-center font-semibold text-gray-100">Rally 1</span>
                        <span class="rounded-md bg-gray-100 m-1 w-full py-3 text-center font-semibold">Rally 2</span>
                        <span class="rounded-md bg-gray-100 m-1 w-full py-3 text-center font-semibold">Rally 2</span>
                    </section>
                </section>
                <section class="flex flex-col gap-4 mb-2">
                    <section class="flex flex-row gap-1">
                            <label class="text-gray-900 w-2/12 font-medium pt-2 text-xl" for="time-input">S</label>
                            <input class="p-2  border-2 w-2/12 placeholder-blue-400 border-blue-600 rounded-md py-1.5 px-2 ring-1 ring-inset focus:text-blue-600 focus:outline-none" type="number" min="0" max="59" placeholder="Min" required>
                            <span class="text-gray-900 font-medium text-2xl">:</span>
                            <input class="p-2 border-2 w-3/12 placeholder-blue-400 border-blue-600 rounded-md py-1.5 px-2 ring-1 ring-inset focus:text-blue-600 focus:outline-none" type="number" min="0" max="59" placeholder="Second" required>
                            <span class="text-gray-900 font-medium text-2xl">:</span>
                            <input class="p-2 border-2 w-5/12 placeholder-blue-400 border-blue-600 rounded-md py-1.5 px-2 ring-1 ring-inset focus:text-blue-600 focus:outline-none" type="number" min="0" max="999" placeholder="Millisecond" required>
                    </section>
                    <section class="flex flex-row gap-1">
                            <label class="text-gray-900 w-2/12 font-medium pt-2 text-xl" for="time-input">S 2</label>
                            <input class="p-2  border-2 w-2/12 placeholder-blue-400 border-blue-600 rounded-md py-1.5 px-2 ring-1 ring-inset focus:text-blue-600 focus:outline-none" type="number" min="0" max="59" placeholder="Min" required>
                            <span class="text-gray-900 font-medium text-2xl">:</span>
                            <input class="p-2 border-2 w-3/12 placeholder-blue-400 border-blue-600 rounded-md py-1.5 px-2 ring-1 ring-inset focus:text-blue-600 focus:outline-none" type="number" min="0" max="59" placeholder="Second" required>
                            <span class="text-gray-900 font-medium text-2xl">:</span>
                            <input class="p-2 border-2 w-5/12 placeholder-blue-400 border-blue-600 rounded-md py-1.5 px-2 ring-1 ring-inset focus:text-blue-600 focus:outline-none" type="number" min="0" max="999" placeholder="Millisecond" required>
                    </section>
                    <section class="flex flex-row gap-1">
                            <label class="text-gray-900 w-2/12 font-medium pt-2 text-xl" for="time-input">S 3</label>
                            <input class="p-2  border-2 w-2/12 placeholder-blue-400 border-blue-600 rounded-md py-1.5 px-2 ring-1 ring-inset focus:text-blue-600 focus:outline-none" type="number" min="0" max="59" placeholder="Min" required>
                            <span class="text-gray-900 font-medium text-2xl">:</span>
                            <input class="p-2 border-2 w-3/12 placeholder-blue-400 border-blue-600 rounded-md py-1.5 px-2 ring-1 ring-inset focus:text-blue-600 focus:outline-none" type="number" min="0" max="59" placeholder="Second" required>
                            <span class="text-gray-900 font-medium text-2xl">:</span>
                            <input class="p-2 border-2 w-5/12 placeholder-blue-400 border-blue-600 rounded-md py-1.5 px-2 ring-1 ring-inset focus:text-blue-600 focus:outline-none" type="number" min="0" max="999" placeholder="Millisecond" required>
                    </section>
                </section>
                <section class="mt-6 mb-4 text-center flex flex-row gap-4">
                    <input
                        class="py-3 w-full text-white text-uppercase text-3xl font-semibold bg-gradient-to-r from-indigo-500 to-purple-500 hover:from-purple-500 hover:to-pink-500 rounded-lg shadow-lg"
                        type="submit" value="Prev">
                    <input
                        class="py-3 w-full text-white text-uppercase text-3xl font-semibold bg-gradient-to-r from-purple-500 to-pink-500 hover:from-pink-500 hover:to-red-500 rounded-lg shadow-lg"
                        type="submit" value="next">
                </section>
            </form>
        </article>
    </main>
</body>
