@page
@model IndexModel
@{
    ViewData["Title"] = "Rally";
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var app = angular.module("ng-rally", []);
        app.service("rallyService", function () {
            this.mainRally = JSON.parse('@Html.Raw(ViewData["RallyJson"])');
            this.useState = [];
            this.useState[0] = true;

            this.getMainRally = function () {
                return this.mainRally;
            };

            this.updateMainRally = function (updateRally) {
                this.mainRally = [];
                this.mainRally = updateRally;
            };

            this.toggleState = function (index) {
                this.useState[index] = !this.useState[index];
            };

            this.getUseState = function (index) {
                return this.useState[index];
            };
        });

        app.controller("form_1", function ($scope, rallyService) {
            $scope.mainRally = rallyService.getMainRally();
            $scope.updateRally = function () {
                this.mainRally.Number = angular.copy(this.mainRally.Number);

                this.mainRally.ListRacer = this.mainRally.ListRacer.filter(function (racer, index) {
                    return racer.checked;
                });

                this.mainRally.ListRacer.forEach(function (racer) {
                    racer.ListSpecial = racer.ListSpecial.filter(function (special) {
                        return special.checked;
                    });
                });

                rallyService.updateMainRally($scope.mainRally);
            };

            $scope.printRally = function () {
                console.log("form 1");
                console.log($scope.mainRally.ListRacer[0].ListSpecial);
                console.log($scope.mainRally.ListRacer);
                console.log($scope.mainRally.Number);
            };

            $scope.toggleShow = function () {
                rallyService.toggleState(0);
            };

            $scope.isForm1Visible = function () {
                return rallyService.getUseState(0);
            };
        });

        app.controller("form_2", function ($scope, rallyService) {
            $scope.mainRally = rallyService.getMainRally();
            $scope.range = [];
            $scope.listRally = [];

            $scope.isForm1Visible = function () {
                $scope.range = getRange();
                for (let i = 0; i < $scope.mainRally.Number; i++) {
                    console.log("form 2");
                    $scope.listRally[i] = $scope.mainRally;
                }
                return rallyService.getUseState(0);
            };


            function getRange() {
                const range = $scope.mainRally.Number;
                var rangeArray = [];
                for (let i = 0; i < range; i++) {
                    rangeArray.push(i + 1);
                }
                return rangeArray;
            }
        });
    </script>
</head>

<body class="bg-cover flex justify-center" style="background-image: url('/img/background.jpg');" ng-app="ng-rally">
    <header class="my-10">
        <h1 class="text-gray-100 font-extrabold text-5xl text-uppercase">Rally Point</h1>
        <sub class="text-gray-100 text-2xl font-extralight">insert cool oneliner here</sub>
    </header>
    <main class="flex flex-row gap-8 justify-left">
        <article ng-show="isForm1Visible()"
            class="bg-gray-100 py-4 px-10 rounded-xl w-1/3 border-4 border-blue-600 flex-row" ng-controller="form_1">
            <header class="flex flex-row justify-between">
                <h2 class="text-blue-500 text-3xl font-bold mb-4">First, let's see the bigger picture</h2>
                <p class="bg-blue-600 mb-16 mt-1 rounded-full px-2 pb-1 text-blue-600">1</p>
            </header>
            <form ng-submit="updateRally();printRally();toggleShow()">
                <section class="flex flex-col gap-4 mb-2">
                    <section class="flex flex-col gap-2 mb-2">
                        <label class="text-gray-900 font-medium text-2xl" for="rallyNumber">Number of rally</label>
                        <input
                            class="p-2 w-56 border-2 placeholder-blue-400 border-blue-600 rounded-md py-1.5 px-2 ring-1 ring-inset focus:text-blue-600 focus:outline-none"
                            type="number" ng-model="mainRally.Number" id="rallyNumber" min="0" placeholder="in number">
                        <sub class="text-md text-blue-600">Set the number of rally here</sub>
                    </section>
                    <section class="flex flex-col gap-2 mb-2">
                        <label class="text-gray-900 font-medium text-2xl" for="">Specials</label>
                        <section class="flex flex-wrap gap-2">
                            <span class="flex flex-row gap-2 bg-blue-600 p-3 rounded-md hover:bg-blue-700"
                                ng-repeat="special in mainRally.ListRacer[0].ListSpecial">
                                <input type="checkbox" ng-model="special.checked">
                                <label class="text-gray-100" for="">{{ special.Name }}</label>
                            </span>
                        </section>
                        <sub class="text-md text-blue-600">Check at least 1 special</sub>
                    </section>
                    <section class="flex flex-col gap-2 mb-2">
                        <label class="text-gray-900 font-medium text-2xl" for="">Racers</label>
                        <section class="flex flex-wrap gap-2">
                            <span class="flex flex-row gap-2 bg-blue-600 p-3 rounded-md hover:bg-blue-700"
                                ng-repeat="racer in mainRally.ListRacer">
                                <input type="checkbox" ng-model="racer.checked">
                                <label class="text-gray-100" for="">{{ racer.Name }}</label>
                            </span>
                        </section>
                        <sub class="text-md text-blue-600">Check at least 5 racers</sub>
                    </section>
                </section>
                <section class="mt-6 mb-4 text-center">
                    <input
                        class="py-3 w-full text-white text-uppercase text-3xl font-bold bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 hover:from-purple-500 hover:via-pink-500 hover:to-red-500 rounded-lg shadow-lg"
                        type="submit" value="Next">
                </section>
            </form>
        </article>
        <article ng-show="!isForm1Visible()" class="bg-gray-100 py-4 px-10 rounded-xl border-4 border-blue-600 flex-row"
            ng-controller="form_2">
            <header class="flex flex-row justify-between">
                <h2 class="text-blue-500 text-3xl font-bold">Set the race</h2>
                <p class="bg-blue-600 mb-16 mt-1 rounded-full px-2 pb-1 text-blue-600">1</p>
            </header>
            <form ng-submit="">
                <section class="flex flex-row gap-4 mb-2">
                    <aside class="flex flex-col gap-2">
                        <h2 class="text-blue-600 font-medium text-2xl whitespace-nowrap">Set the Rally 👇 </h2>
                        <section class="border-3 flex flex-col gap-2 py-4 pl-2 border-blue-500 rounded-xl">
                            <span class="flex flex-row gap-2 p-2" ng-repeat="number in range track by $index">
                                <input class="w-6 h-6 border-2" type="radio" id="rallySet{{$index+1}}" name="RallySet">
                                <label
                                    class="flex items-center border-b border-gray-900 text-gray-900 font-medium whitespace-nowrap hover:text-blue-600 hover:border-blue-600"
                                    for="rallySet{{$index+1}}">Rally {{$index+1}} 🚙</label>
                            </span>
                        </section>
                    </aside>
                    <article class="flex flex-col gap-4">
                        <section class="flex flex-col gap-2">
                            <h2 class="text-blue-600 font-medium text-2xl">Select the Racer 👇 </h2>
                            <section
                                class="border-3 flex flex-row justify-between py-3 px-3 border-blue-500 rounded-xl">
                                <section class="flex flex-row gap-2 p-2"
                                    ng-repeat="racer in mainRally.ListRacer track by $index">
                                    <input class="w-6 h-6 border-2" type="radio" id="racerSet{{$index+1}}"
                                        name="RacerSet">
                                    <label
                                        class="flex items-center border-b border-gray-900 text-gray-900 font-medium whitespace-nowrap hover:text-blue-600 hover:border-blue-600"
                                        for="racerSet{{$index+1}}">{{ racer.Name }} 🚗</label>
                                </section>
                            </section>
                        </section>
                        <section class="flex flex-col gap-2">
                            <h2 class="text-blue-600 font-medium text-2xl whitespace-nowrap">Set the Special 👇 </h2>
                            <span class="flex flex-row gap-2">
                                <section class="flex flex-col gap-3 px-4 pt-4 pb-5 rounded-xl border-3 border-blue-500"
                                    ng-repeat="special in mainRally.ListRacer[0].ListSpecial track by $index">
                                    <h3 class="flex items-center pr-2 font-bold font-mono text-2xl text-blue-600">
                                        {{ special.Name }} 🕑</h3>
                                    <input
                                        class="border-b placeholder-blue-400 border-blue-400 p-2 bg-gray-100 focus:border-b focus:border-3 focus:border-blue-700 transition-colors focus:outline-none peer bg-inherit"
                                        type="number" id="minute{{$index}}" min="0" max="59" placeholder="Minute"
                                        required>
                                    <input
                                        class="border-b placeholder-blue-400 border-blue-400 p-2 bg-gray-100 focus:border-b focus:border-3 focus:border-blue-700 transition-colors focus:outline-none peer bg-inherit"
                                        type="number" id="sec{{$index}}" min="0" max="59" placeholder="Sec" required>
                                    <input
                                        class="border-b placeholder-blue-400 border-blue-400 p-2 bg-gray-100 focus:border-b focus:border-3 focus:border-blue-700 transition-colors focus:outline-none peer bg-inherit"
                                        type="number" id="milisec{{$index}}" min="0" max="999" placeholder="Milisec"
                                        required>
                                </section>
                            </span>
                        </section>
                    </article>
                </section>
                <section class="flex justify-end mt-6 mb-4 text-center">
                    <input
                        class="py-3 px-4 text-white text-uppercase text-3xl font-bold bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 hover:from-purple-500 hover:via-pink-500 hover:to-red-500 rounded-lg shadow-lg"
                        type="submit" value="Confirm">
                </section>
            </form>
        </article>
    </main>
</body>
